{
  "root": true,
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "warn",
    "require-atomic-updates": "off",
    "prefer-destructuring": [
      "warn",
      {
        "AssignmentExpression": { "object": false, "array": false },
        "VariableDeclarator": { "object": true, "array": true }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "security/detect-object-injection": "off",
    "object-curly-spacing": ["warn", "always"],
    "prefer-const": ["warn"],
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      { "prefer": "type-imports" }
    ]
  },
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"]
      }
    }
  ]
}
